@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Krona+One&family=Lexend:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Lexend:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Krona+One&family=Lexend:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Krona+One&family=Lexend:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kite+One&display=swap");

html,
body {
    width: 100svw;
    height: fit-content;
    min-height: 100vh;
    margin: 0;
    box-sizing: border-box;
    cursor: none;
    overflow-x: hidden;
    scrollbar-width: thin; /* Thin scrollbar */
    scrollbar-color: rgba(100, 116, 214, 0.96) rgba(40, 46, 78, 0.96); /* Thumb color and track color */
}

/* For WebKit Browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
    width: 40px; /* Width of vertical scrollbar */
    height: 4px; /* Height of horizontal scrollbar */
}

::-webkit-scrollbar-track {
    background: #f1f1f1; /* Track color */
    border-radius: 10px; /* Rounded corners for the track */
}

::-webkit-scrollbar-thumb {
    background: rgba(56, 64, 115, 0.96); /* Scrollbar thumb color */
    border-radius: 100px; /* Rounded corners for the thumb */
}

::-webkit-scrollbar-thumb:hover {
    background: #555; /* Darker color on hover */
}

.cursor {
    width: 35px;
    height: 35px;
    background: transparent;
    border-radius: 50%;
    border: 2px solid #aec0ff;
    position: absolute;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.cursor .point {
    background: white;
    width: 2px;
    height: 2px;
}

.section {
    width: 100svw;
    min-height: 100svh;
    height: fit-content;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
}

.imgcntr img {
    width: 100vw;
    height: 13.54vw;
    background-size: cover;
    transition: 400ms;
}

.imgcntr {
    bottom: 0;
    position: fixed;
    height: 100vh;
    background: linear-gradient(to bottom, #000736 0%, #000d63 100%);
    display: flex;
    align-items: last baseline;
}
