.section:nth-child(3) {
    justify-content: space-between;
    align-items: center;
}

.section:nth-child(3) > h1 {
    background: linear-gradient(
        90deg,
        rgba(22, 92, 242, 0.8) 0%,
        rgba(184, 98, 255, 0.8) 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Lexend";
    font-size: 5vw;
    font-style: normal;
    font-weight: 500;
}

.sclmedia {
    display: flex;
    flex-wrap: wrap;
    color: white;
    font-family: "Lexend";
    font-size: 2.5vw;
    width: 85vw;
    justify-content: space-between;
}

.sclapp {
    margin: 1vw;
    display: flex;
    align-items: center;
    width: 26vw;
    cursor: pointer;
}

.sclapp p {
    margin: 0;
    margin-left: 1.25vw;
    max-width: 20vw;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sclapp svg {
    font-size: 2.3vw;
}

.sclapp > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.crclwht {
    width: 1.8vw;
    height: 2vw;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
}

#ytbcs {
    height: 1vw;
}

#lndes {
    height: 1.8vw;
}

form {
    width: 100%;
}

form input:not([type="submit"]),
textarea {
    background: transparent;
    border: none;
    border-bottom: 2px solid white;
    width: 75%;
    color: white;
    font-size: clamp(18px, 1.75vw, 30px);
    transition: 500ms;
    padding: 0 10% 10px 0;
    outline: none;
    margin-bottom: 4vh;
    font-family: "Lexend";
    font-weight: 400;
    resize: none;
}

form input:focus,
textarea:focus {
    border-bottom: 2px solid rgb(92, 113, 217);
}

#message {
    height: clamp(150px, 30vh, 400px);
    overflow: auto;
}

.inputx {
    width: 100%;
}

input[type="submit"] {
    background: #1a2a95;
    outline: none;
    border: none;
    border-radius: 8px;
    padding: 10px 15px;
    color: white;
    font-family: "Lexend";
    font-size: clamp(24px, 1.5vw, 38px);
    transition: 500ms;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.form_container {
    width: 35vw;
}

.profile {
    width: 30vw;
    height: fit-content;
    background: rgba(56, 64, 115, 0.96);
    position: relative;
    border-radius: 13px;
    box-sizing: content-box;
    padding: max(1vw, 10px) max(1.5vw, 15px);
    box-sizing: border-box;
}

@property --angle {
    initial-value: 0deg;
    syntax: "<angle>";
    inherits: false;
}

.profile::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    background: conic-gradient(from var(--angle),rgb(144 179 255 / 80%), #6e2abc, #3410ab, rgb(113, 136, 226), rgb(144 179 255 / 80%));
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    padding: 4px;
    border-radius: 14px;
    animation: spin 3s linear infinite;
}


@keyframes spin {
    from {
        --angle: 0deg;
    } to {
    --angle: 360deg;
    }
}

.imgnm {
    display: flex;
    width: 100%;
    margin-top: 1vh;
}

.img_cntr_prf {
    width: max(8vw, 60px);
    height: max(8vw, 60px);
    border-radius: 50%;
    background-color: gray;
    background-image: url(../../public/avatar.png);
    border: 1px solid white;
    background-size: cover;
}

.nmscd {
    font-family: Lexend;
    margin-left: max(1vw, 12px);
}

.nmscd h2 {
    color: white;
    font-size: max(18px, 1.75vw);
    margin: 5px 0 0 0;
}

#jb {
    text-decoration: underline;
}

.contact_cntr {
    display: flex;
    justify-content: center;
    width: 65vw;
    margin-bottom: 10vh;
}

.nmscd {
    font-family: Lexend;
    margin-left: 1vw;
}

#jb {
    text-decoration: underline;
}

.nmscd p {
    margin: 7px 0;
    font-size: max(16px, 0.85vw);
    color: #b8c0f5;
}

.nmscd p:last-child {
    text-decoration: underline;
    position: relative;
    cursor: pointer;
}

.nmscd p:last-child:hover::before{
    display: block;
}

.nmscd p:last-child::before:hover {
    display: block;
}

.nmscd p:last-child::before {
    display: none;
    content: 'My name is Mohamed Aada, I’m a dedicated Moroccan web developer with three years of experience and a deep mastery of web technologies. My passion for creating seamless, high-performance websites drives me to deliver exceptional results. I excel in both technical skills and soft skills, including effective communication and teamwork. Always eager to tackle new challenges, I’m committed to crafting intuitive solutions that exceed client expectations. Let’s connect and bring your digital vision to life!';
    position: absolute;
    font-size: 15px;
    width: fit-content;
    background: #3d3d7c;
    padding: 14px;
    border-radius: 6px;
    width: 336px;
    box-sizing: inherit;
    border: 3px solid rgb(144 179 255 / 80%);
    top: calc(100% + 3px);
    box-shadow: 0px 0px 9px 0px rgb(255 255 255 / 43%);
    animation: open 200ms linear;
}

@keyframes open {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

.socialmediaicons {
    display: flex;
    width: 80%;
    gap: 2%;
}

.socialmediaicons > svg {
    color: white;
    font-size: max(2vw, 20px);
    margin: 1vw;
    cursor: pointer;
}

.socialmediaicons {
    /* width: 80%; */
    /* gap: 2%; */
    /* gap: 4vw; */
    width: 100%;
    padding: 0 1vw;
    margin-top: 1vh;
    justify-content: space-between;
    box-sizing: border-box;
}

.hrzln {
    width: 90%;
    height: 3px;
    background: #ffffff5c;
    margin-left: 5%;
    margin-top: max(15px, 2vh);
    margin-bottom: max(15px, 2vh);
}

.msgcntc {
    font-family: "Lexend";
    font-size: max(20px, 1.5vw);
    width: 80%;
    text-align: revert;
    color: #c7c7c7;
    font-weight: 350;
    margin: 0;
    margin-left: 5%;
}

.chldinf {
    display: flex;
    margin-bottom: 3vh;
}

.chldinf > div:nth-child(2) {
    width: 70%;
}

.icnse > svg {
    font-size: max(16px, 1.5vw);
}

.icnse {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffffcf;
    border: 3px solid white;
    height: max(28px, 3vw);
    width: max(28px, 3vw);
    margin-right: 1vw;
}

.chldinf p {
    color: white;
    font-family: sans;
    margin: 0;
    font-size: max(14px, 1vw);
    font-weight: 450;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.infr {
    margin-top: 3vh;
    margin-left: 5%;
}

.form_container > h1 {
    color: #b8c0f5;
    font-size: max(3vw, 36px);
    font-family: "Lexend";
    font-weight: 500;
    margin-top: 0;
}

@media (max-width: 1200px) {
    .contact_cntr {
        flex-direction: column-reverse;
        align-items: center;
    }
    .profile {
        width: 45vw;
        margin-bottom: 8vh;
    }
    .form_container {
        width: 45vw;
    }
}

@media (max-width: 600px) {
    .contact_cntr {
        flex-direction: column-reverse;
        align-items: center;
    }
    .profile {
        width: 80vw;
        margin-bottom: 8vh;
    }
    .form_container {
        width: 80vw;
    }

    .section:nth-child(4) {
        padding: 5vh 0;
        height: 90svh;
    }
    .section:nth-child(4) h1 {
        font-size: 34px;
    }
    .sclapp {
        width: 84vw;
    }
    .sclmedia {
        font-size: 27px;
    }

    .sclapp p {
        width: max-content;
        max-width: fit-content;
        margin-left: 4vw;
    }

    .crclwht {
        width: 17px;
        height: 22px;
    }
    .sclapp svg {
        font-size: 23px;
    }

    #ytbcs {
        height: 10px;
    }

    #lndes {
        height: 16px;
    }
}
